<fieldset>
  <legend>From foobar</legend>
  <ul>
    <li>{{this.routerUtils.currentEdgeRoute.dummy1}}</li>
    <li>{{this.routerUtils.currentEdgeRoute.dummy2}}</li>
  </ul>

  <button type="button" {{on "click" (perform this.routerUtils.currentEdgeRoute.dummyTask2)}}>Refresh</button>
</fieldset>

{{yield}}