{{page-title "EmberConcurrencyModel"}}

<h1>Page 1</h1>
<ul>
  <li><LinkTo @route="page-1.page-a">page-1.page-a</LinkTo></li>
  <li><LinkTo @route="page-1.page-b">page-1.page-b</LinkTo></li>
</ul>
<br>
<h1>Page 2</h1>
<ul>
  <li><LinkTo @route="page-2.page-a">page-2.page-a</LinkTo></li>
  <li><LinkTo @route="page-2.page-b">page-2.page-b</LinkTo></li>
</ul>
{{outlet}}